

<div id='pupContainer'>



<h1 class='right'>Excellent!!</h1>
<h2 class='right'>I had faith in you to choose correctly. The light of goodness shines in your eyes.</h2>


<h3 class='right'>Here are a few things about dogs you may not know:</h3>

<ul class='right'>
  <li>Their floopies can hear way better than your ears.</li>
  <li>They can run on their foofins for much longer than you can on your feet.</li>
  <li>A puppies snoofer can pick up smells that your nose has no idea about.</li>
</ul>

<img id='pup' src="/assets/puppy.jpg">

<h3 class='homeLink'><%= link_to 'Return to home!', home_path %></h3>

</div>
