<div id='homeBG'>


<h1 class='pageHeader'>Welcome to the World of Pets...</h1>
<h2 class='pageSubHeader'>...So, are you a good dog person, or a ...duh duh duh... evil cat person?</h2>


<h1 id='dogLink'> <%= link_to 'Good Dog Person', dog_path %> </h1>
<h4 id='catLink'> <%= link_to 'Evil Cat Person', cat_path %> </h4>


</div>